section{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family: 'Lexend Deca', sans-serif;
}

.container{
  display: flex;
  max-width: 700px;
  padding: 50px;
}
.sedan{
  background-color:hsl(31, 77%,52%);
  padding: 20px;
  border-radius: 5px 0px 0px 5px;
}
.SUV{
  background-color:hsl(184, 100%,22%);
  padding:20px;
}
.Luxury{
  background-color:hsl(179, 100%,13%);
  padding: 20px;
  border-radius: 0px 5px 5px 0px;
}
p{
color:hsl(0, 0%, 100%, 0.75);
}
Button{
  color:hsl(0, 0%,95%);
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius:20px;
  width:150px;
  height:35px;
  border:none;
  }
h3{
  margin-bottom: 50px;
  color:hsl(0, 0%, 100%, 0.75);
  font-family: 'Big Shoulders Display', cursive;
  font-size:30px;
}
.sedan button{
  color:hsl(31, 77%,52%);
}
.SUV button{
  color:hsl(184, 100%,22%);
  margin-top:70px;
}
.Luxury button{
  color:hsl(179, 100%,13%) ;  
}
button:hover{
  background-color: transparent;
  color: white;
  border: 1px white solid;
}



/* grid styling */
body{
  background-color:#05052e;
}

main {
  max-width: 500px;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 25px 80px 1fr;
  grid-template-rows: 200px 100px 100px;
  margin: auto;
  padding-top: 100px;
  gap: 5px;
}
main div {
  background-color: orange;
  color: orange;
}
.itemA {
  background-color:#fb5a04;
  grid-column: 1 / 4;
  color:#fb5a04;
}

.itemC {
  background-color:#48d548;
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  color:#48d548;
}

.itemD {
  background-color:#3490b7;
  grid-column: 3 / 5;
  color:#3490b7;
}

.itemE {
  background-color:#3490b7 ;
  grid-column: 3/ 5;
  color:#3490b7 ;
}
a{
  background-color: #9c9ea0;
  border:solid 1px #dcd0d0;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}


